<link rel="stylesheet" href="/css/style.css">
<div class="contenedor">
    <div>
      <img src="../img/Filatelia.png" alt="logo" class="logo" />
    </div>

    <div>
      <nav>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/users">Lista de Usuarios</a></li>
          <li><a href="/Productos">Lista de Estampillas</a></li>
        </ul>
      </nav>
    </div>
    <div class="botonera">
      <button class="button">
        <a href="/addUserView">Nuevo Usuario</a>
      </button>
      
      <button class="button"><a href="/login1">Ingresa</a></button>
    <button class="button"><a href="/addProductoView">Productos</a></button> 
    </div>
    <div class="iconoNav">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2989/2989870.png"
        alt="icono nav"
      />
    </div>
  </div>
  <div class="caja">
    <div class="box">
      <img src="../img/banner.png" alt="Banner" />
    </div>
  </div>  
</header>

