 
  <%- include('./partials/header.ejs') %> 
  <section>
 
    <form action="login" method="post">
      <div>
        <h2>Registrar Usuario</h2>  
        <div class="input">
          <img src="../img/iconos/sobre.png" alt="user icon">
           
          <input type="email" name="email" placeholder="Ingrese su email" id="email" required> 
        </div>  
        <div class="input">
          <img src="./img/iconos/llave.png" alt="user icon">
           
          <input type="password" name="password" placeholder="Ingrese su contraseña" id="password" required>
        </div>
        <button type="submit">ingresar </button>
      </div>
    </form>
  </section>    
 
 
